html
	head
		meta(charset="UTF-8")
		title Document
		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		h2(id="loginh2") Log in below:
		form(id="loginForm" method="POST", action="/login" autocomplete="off")
			input(class="loginInput" type="text" name="username" placeholder="Username") 
			br
			br
			input(class="loginInput" type = "password" name="password", placeholder="Password")
			br
			br
			input(id="loginSubmit" type= "submit", value="Log In")
			br
			a(id="signUpL" href='signup') Sign Up!
style
	include ../public/custom/login.css